<div *ngIf="student">
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">Id </th>
      <th scope="col">Name</th>
      <th scope="col">Address</th>
      <th scope="col">Age</th>
      <th scope="col">Mark</th>
      <th scope="col">Image</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">{{student.id}}</th>
      <td>{{student.name}}</td>
      <td>{{student.address}}</td>
      <td>{{student.age}}</td>
      <td>{{student.mark}}</td>
      <td><img  data-toggle="modal" data-target="#modalImage" style="width: 50px;height: 50px" [src]="student.image"></td>
      <td></td>
    </tr>
    </tbody>
  </table>
</div>

<div class="modal fade bd-example-modal-lg" id="modalImage" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
  <div class="modal-dialog modal-lg " role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Image</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-dark">
<!--        <img [src]="studentDetail.image" style="height: 450px;width: 450px">-->
        <h1 style="color: red">Gái xinh chỉ được nhìn,đụng vô là vỡ alo đấy!!!</h1>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <!--        <button type="button" class="btn btn-primary">Save</button>-->
      </div>
    </div>
  </div>
</div>

