<h1 style="color: red;text-align: center">List Student</h1>
<button routerLink="create" class="btn btn-info">Create Student</button>
<table class="table table-hover table-striped text-warning">
  <thead>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Address</th>
    <th>Color</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let student of studentList">
    <td>{{student.id}}</td>
    <td>{{student.name}}</td>
    <td>{{student.address}}</td>
    <td>
      <div *ngIf="student.mark > 5,else elseBlock" [style.color]="'blu'">Pass</div>
      <ng-template #elseBlock>
        <div *ngIf="this.student.mark == 5,else else1" [style.color]="'green'">Normal</div>
        <ng-template #else1><span [style.color]="'red'">Fail</span></ng-template>
      </ng-template>
    </td>
    <td>
      <button type="button" class="btn btn-primary" [routerLink]="['detail',student.id]"
              >Detail
      </button>
      <button class="btn btn-outline-danger" data-toggle="modal" data-target="#delete" (click)="delete(student.id)"
              >Delete
      </button>
    </td>
  </tr>

  </tbody>
</table>



